*{margin: 0;}
table{
margin:50px auto 0 auto;
}
button{cursor: pointer;}
.board button{
    background-color:gray;	
    height: 80px;
    width: 80px;
    border: 1px solid black;
    border-radius: 100%;
    text-align: center;

}
.container{
 text-align: center;
 color:white;
 background-color: black;   
padding: 1.3em;
}
#playAgain{
    background-color: white;
    color: black;
    padding: 5px;
    border-radius: 8px;
    border: 2px white solid;
    display: none;
    cursor: pointer;
}
#playAgain:hover{
    background-color: gold;
}